torch==1.8.0
torchvision==0.9.0
dataclasses-json==0.5.2
numpy==1.20.1
opencv-python==4.5.1.48
requests
tqdm
matplotlib==3.3.4
ipykernel
ipywidgets
git+https://github.com/PawelPeczek/RetinaFaceNet.git@master
